body {
    margin: 0;
}
.sidebar {
    width: 250px;
    background-color: #0a67e1;
    color: white;
    padding: 0px;
    height: 100%;
}
  
.logo {
    width: 100%;
    margin-bottom: 20px;
}

.nav-menu {
    margin-top: 20px;
}

.nav-menu a {
    display: flex;
    align-items: center;
    gap: 10px;
    background: none;
    color: white;
    border: solid #00337a;
    border-width: 1px;
    border-radius: 5px;
    padding: 10px;
    text-align: left;
    width: 80%;
    cursor: pointer;
    margin-bottom: 10px;
    margin-left: 10px;
    font-size: 16px;
    text-decoration: none;
}

.nav-menu a:hover {
    background-color: #00337a;
    border-radius: 5px;
    padding-left: 15px;
    transition: all 0.3s ease;
}